@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
     
}
/* -----------------------------GRID-LAYOUT---------------------------------- */
.main-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}

.main-container div {
    border: 2px solid black;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #0ea5e9;
    
}

.top {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}

.middle {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
}

.right {
    grid-column: 5 / 6;
    grid-row: 2 / 6;
}

/* ---------------------------DASHBOARD-STYLES------------------------------ */

.dashboard-main-image {
    max-width: 4rem;
    max-height: 4rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.dashboard-image {
    max-width: 3rem;
    max-height: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
   
    
}

.left h1 {
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 2.7rem;
    margin-right: 1rem;
}

.left p {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
      
}

.left p:hover {
    text-decoration: underline solid 2px whitesmoke;
}

.settings {
    margin-top: 2.7rem;
}